
.content {
	padding: 1em;
}

fieldset {
	padding: 2em;
	padding-bottom: 1em;
}

fieldset > legend {
	font-size: 1.5em;
	padding-left:1em;
	padding-right:1em;
}

fieldset > h4 {
	font-size: 1em;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: 900;
}

.success {
	background-color: green;
	color: white;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 1.5;
	margin-bottom: 1.25rem;
	padding: 1em;
}

.errorBox {
	background-color: #f04124;
	color: white;
}
.errorBox ul {
	padding: 1em;
}
.errorBox ul li {
	font-size: 0.8rem;
	font-style: italic;
	line-height: 1.5;
}

.fieldErrorMessage {
	font-size: 0.8rem;
	margin-top: -1em;
	margin-bottom: 1em;
	//background-color: #f04124;
	color: #f04124;
}